.game-container {
    background-color: rgb(0, 128, 128);
    width: 100%;
}

.red {
    background-color: red;
}

.image-box {
    height: 500px;
    width: 500px;
    border: 3px solid black;
    margin: 25px auto;
    overflow: hidden;
}

.container {
    margin-top: 50px;
}

/*-------------- Buttons -------------*/

.button-container {
    margin: 25px;
}

.btn { 
    background-color: orange;
    margin: 10px;
}